html {
  color: black;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(red, rgb(164, 3, 3));
  text-align: center;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  border: solid 8px dodgerblue;
}

#output {
  padding: 10px;
  background-color: dodgerblue;
}
